body {
  background-color: #d1c4e9;
  color: #ffffff;
  font-size: 40px;
  font-family: "Gemunu Libre", sans-serif;
}

#head {
  text-align: center;
  background-color: #512da8;
  margin-top: 5px;
  margin-bottom: 40px;
  padding: 50px 20px;
  border: 5px solid #ffc107;
}

.main-page {
  text-align: center;
  margin-top: 80px;
}

.parent {
  background-color: #512da8;
  border: 5px solid #ffc107;
  height: 250vh;
  width: 150vh;
  left: 50%;
  transform: translate(-50%);
  position: relative;
}

.post {
  text-align: center;
  border: 8px solid #ffc107;
  width: 90vh;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

p {
  font-size: 25px;
}

a {
  font-size: 25px;
  background-color: white;
}

img {
  width: 600px;
  height: 400px;
}
