body {
  background-color: #d1c4e9;
  color: #ffffff;
  font-size: 40px;
  font-family: "Gemunu Libre", sans-serif;
}

.head {
  text-align: center;
  background-color: #512da8;
  margin-top: 5px;
  margin-bottom: 40px;
  padding: 50px 20px;
  border: 5px solid #ffc107;
}

.main-page {
  text-align: center;
  margin-top: 80px;
}

.parent {
  background-color: #512da8;
  border: 5px solid #ffc107;
  height: 260vh;
  width: 150vh;
  left: 50%;
  transform: translate(-50%);
  position: relative;
}

.child1 {
  text-align: center;
  border: 8px solid #ffc107;
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vh;
  height: auto;
}

.child2 {
  text-align: center;
  border: 8px solid #ffc107;
  position: absolute;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vh;
  height: auto;
}

.child3 {
  text-align: center;
  border: 8px solid #ffc107;
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vh;
  height: auto;
}

img {
  width: 600px;
  height: 400px;
}

p {
  font-size: 25px;
}

a {
  font-size: 20px;
  background-color: white;
}
